/* GENERAL SETTINGS */
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 70px;
}
.radius {
  border-radius: 10px;
}
.size{
  font-size: 30px;
  font-weight: 600;
}
.room-top {
  padding-top: 30px;
}
.room-bottom {
  padding-bottom: 30px;
}
.room-bottom-small{
  padding-bottom: 15px;
}
h3 {
  color: #031b4e;
}
/* color settings */
.white-bk {
  background-color: #fff;
}
.white-color {
  color: #fff;
}
.white-opacity-color {
  color: hsla(0,0%,100%,.5);
}
.white-opacity-color-2 {
  color: hsla(0,0%,70%,.5);
}
.blue {
  color: #0069ff;
}
.gray-bk {
  background-color: #F3F5F9;
}
.dark-blue-bk {
  background-color: #031C4E;
}
/* HEADER STYLE */
/* navbar style */
nav {
  height:66px;
}
nav img {
  width: 169px;
}
.nav>li>a  {
  color: #041D4F;
  padding: 10px 10px;
  font-weight: 500;
}
.nav-pills>li.active>a {
  color: #4C96FF;
  background: #fff;
  border: 1px solid #4C96FF;
  font-weight: 500;
}
.nav-pills>li {
  float: right;
}
/* jumbotron style */
.jumbotron {
  background-image: url(../img/bg-banner-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}
.jumbotron h1 {
  color: #fff;
  font-size: 62px;
}
.jum-left {
  color: #9AB7FF;
}
.radius h2 {
  color: #031b4e;
  font-weight: 600;
  padding-top: 20px;
}
.form-group {
  margin-bottom: 10px;
}
.personal input {
  padding: 10px 0 30px 0;
  margin: 0;
  color: grey;
}
.btn-block+.btn-block {
  margin-top: 10px;
}
.btn-primary {
  background: #0460ff;
  padding: 5px 16px;
  font-size: 15px;
}
.btn-default {
  color: #5b6987;
  padding: 5px 16px;
  font-size: 15px;
  position: relative;
}
.g-logo {
  position: absolute;
  height: 18px;
  display: inline-block;
  top: 5px;
  left: 10px;
}
.jumbotron .jum-right  {
  color: #031b4e;
  font-size: 12px;
  padding-top: 12px;
}
.jumbotron .jum-right a {
  color: #337ab7;
}
/* bottom header */
h4 {
  color: #939EB5;
}
.bottom-header img {
  height: 70px;
  width: 134px;
}
.col-lg-12 h5 {
  padding-bottom: 20px;
}
/* section deploy */
.title h2 {
  color: #031b4e;
  font-size: 36px;
}
.title p {
  color: #031b4e;
  font-size: 20px;
  padding-bottom: 20px;
}
.p-under-h3 {
  color: #031b4e;
}
blockquote {
  border-left: 2px solid #E5E8ED;
}
.list-unstyled li {
  padding-top: 10px;
  color: #031b4e;
  font-size: 16px;
}
/* section designed */
.designed {
  position: relative;
}
.designed h2 {
  color: #031b4e;
  font-size: 36px;
}
.designed p {
  color: #031b4e;
}
.angle .fa-angle-left:before {
  position: absolute;
  top: 252px;
  left: 300px;
  font-size: 44px;
  color: #ABB4C6;
}
.angle .fa-angle-right:before {
  position:absolute;
  top: 252px;
  right: 300px;
  font-size: 44px;
  color: #0069FF;
}
.img-ubuntu {
  height: 479px;
  max-height: 100%;
  padding: 40px 0 20px;
}
.col-lg-12 h5 {
  padding-bottom: 0;
  color: #031b4e;
}
.circle {
  color: #0069FF;
  display: inline-block;
}
/* section table */
.blue-gradient {
  background: linear-gradient(30deg, #002AA5, #0047C5)
}
table td a {
  color: #00D7D2;
}
.table>thead>tr>th {
  border-bottom: none;
}
/* section development */
.development {
  height: 700px;
  position: relative;
}
.box-rockerbox {
  height: 390px;
  width: 650px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
  color: #031b4e;
}
.box-rockerbox img {
  display: inline-block;
  padding:83px 0 20px;
}
.box-rockerbox p {
  font-size: 20px;
}
.box-rockerbox a {
  color: #0069FF;
  font-weight: 500;
  padding-top: 10px;
}
/* FOOTER STYLE */
/* top footer */
.top-footer {
  padding: 50px 0;
}
.btn-default {
  color: #0069ff;
}
/* bottom footer */
.fa-twitter::before,
.fa-facebook-square::before,
.fa-instagram::before,
.fa-youtube::before,
.fa-linkedin::before {
  padding-left: 5px;
  font-size: 16px;
}
.list-unstyled li strong:first-child {
  color: #fff;
}
.list-unstyled li a {
  color: hsla(0,0%,100%,.5);
  font-size: 14px;
}
.list-unstyled li a:hover {
  color: #fff;
  text-decoration: none;
}
/* FIXED MENU STYLE */
.fix-shark {
  position: fixed;
  z-index: 2;
  bottom: 10px;
  right: 20px;ù
}
.img-rounded {
  background: #0069ff;
  height: 60px;
  position: relative;
  left: 70%;
}
.strip {
  position: relative;
  right: 37%;
  top: 57px;
  width: 300px;
  padding: 10px;
  background: #fff;
  line-height: 1.45;
  border-radius: 5px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
 box-shadow: 0 0 8px 5px rgba(0,0,0, .1);
}

.strip::before {
  content: '';
  position: absolute;
  bottom: 15px;
  right: -5px;
  width: 10px;
  height: 10px;
  background: #fff;
  /* Rotazione */
  transform: rotate(45deg);
}
.shark::before {
  content: '2';
  position: absolute;
  top: 50px;
  right: 2px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  width: 22px;
  height: 22px;
  background: red;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 3;
}
